<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Count: {{title}}</h1>

    <form method='POST' action='/'>
        <input type='submit' value='Im done!'/>
    </form>

    <hr><hr><hr>

    <form method='POST' action='/reset'>
        <input type='submit' value='Reset counter' />
    </form>
</body>
</html>